/*Tipografías*/
h1, h2, h3, h4, p, a{font-family: 'roboto', sans-serif; color: rgb(29,29,31);}
h1{
    font-size: 4.2rem;
    margin: 10px auto;
    line-height: 80%;
}
h4{
    margin-top: 0;
}
p, a{
    font-size: 0.8rem;
}

body{margin: 0;}

.nav-bar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    box-sizing: border-box;

}

.nav-bar a {
    color: white;
    margin: 0;
}

.nav-bar a img{width: 15px}

.orange{color: orange;}
a{
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    color: rgb(0, 113, 227);
}
.div1{
    text-align: center;
    padding: 5px 10%;
    padding-bottom: 70px;
    width: 100%;
    box-sizing: border-box;
}
.div1 img{
    width: 100%;
    margin-top: 30px;
    position: relative;
    bottom: 0px;
}

.button{
    background-color: rgb(0, 113, 227);
    color: white;
    margin: auto;
    width: 80px;
    height: auto;
    display: inline-block;
    border-radius: 18px;
    padding: 10px;
}


.div2{
    width: 100%;
    padding: 50px 16px;
    box-sizing: border-box;
    display: flex;
}

.div50{
    width: 50%;
    position: relative;
    text-align: center;
    background-color:rgb(242, 242, 242);
    float: left;
    box-sizing: border-box;
    margin: 8px;
    
    
}

.div50-texto{
    margin: 10% 20%;
}



.div2 .div50:first-child img{
    width: 100%;
    margin-top: 150px;
 }

.div2 .div50:nth-child(2n) img{
    width: 70%;
    margin-top: 30px;
   
}

.div3{
    width: 100%;
    box-sizing: border-box;
    padding: 60px;
    text-align: center;
}

footer{
    width: 100%;
    padding: 10px 15% 50px 15%;
    box-sizing: border-box;
    background-color:rgb(245, 245, 247);
    margin-top: 50px;
}

footer a, footer p{
    color: rgb(81, 81, 84);
    margin-top: 5px;
    
}
footer p{
    opacity: 0.6;
    margin-top: 10px;
}

.footer-options{
    display: flex;
    justify-content: flex-start space-between;
    
}

.footer-options a{
   padding-right: 30px;
}

.footer-options a::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    margin-left: 15px;
    background-color: rgb(81, 81, 84);
}

.footer-options a:last-child::after{
    content: none;
}